import(stats)
S3method(print,ChaoShared)
S3method(print,ChaoSpecies)
S3method(print,spadeDiv)
S3method(print,spadeTwo)
S3method(print,spadeMult)
export(ChaoShared)
export(ChaoSpecies)
export(Diversity)
export(SimilarityMult)
export(SimilarityPair)
