import(stats)
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "legend", "lines", "plot", "polygon")
S3method(print,ChaoShared)
S3method(print,ChaoSpecies)
S3method(print,spadeDiv)
S3method(print,spadeTwo)
S3method(print,spadeMult)
S3method(print,spadeGenetic)
export(ChaoShared)
export(ChaoSpecies)
export(Diversity)
export(SimilarityMult)
export(SimilarityPair)
export(Genetics)
